$color: #5ca4d6;


*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: verdana;
  color: $color;
}

@import "partials/mixins";
@import "partials/nav";
@import "partials/shirt-image-box";
@import "partials/shop-box";
@import "partials/submenus";
@import "partials/product-footer";
@import "partials/media-queries";
